@{
    ViewBag.Title = "Liên Lạc";
}
<!--Reserve an responsive image bar for the banner-->
<div class="row">
    <img class="img-responsive" src="/images/banner-reserve-3840x380.png">
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Liên Lạc <small>need page description...</small></h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                <li class="active">Liên Lạc</li>
            </ol>
        </div>
    </div><!-- /.row -->
</div>